.quotebox{
    max-width: 400px;
    display: grid;
    gap:20px;
    justify-items: center;
}

/* todos los comandos en el interior fueron para mandar abajo y centrar */
.quotebox__author{
    max-width: 400px;
    display: grid;
    gap:20px;
    justify-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%; 
    transform: translateX(-50%);
}
.quotebox__btn{
    position: relative;
    top:-130px;
    background-color: rgba(2, 2, 2, 0.015);
    padding:0;
    border: 0;
    
}

.quotebox_planet{
    position: absolute;
    top: 470px;
}


.quotebox__title{
    color: lightblue;
    font-size:80px;
}

.quotebox__box{
    background-color:rgba(240, 248, 255, 0.444);
    border-radius: 20px;
    padding-top: 30px;
    padding-block-end: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color:black;
    margin: 30px;
    position:relative;
    top:-100px;
}
